/*Task A*/
*{ box-sizing: border-box;}

body{
    font-family: Arial,sans-serif;
    background: #f6f7fb;
    padding: 20px;
}

#container{
    width: 80%;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    padding: 16px;
}

/* Task B */
.section { margin-bottom: 30px; }

.highlight{
    color:#0d6efd;
    font-weight: bold;
}
    #header > h1{ color: #0d6efd}

    #header p a {
    text-decoration: none;
    color:#0d6efd;
    font-weight: bold;
}

/* Task C */

h2 + p{ font-style: italic;}

a[target="_blank"]{ color:#198754; }

#education th{
    background: #0d6efd;
    color: #fff;
    padding: 10px;
}

#skill li{ padding: 6px 0; }

/* Personal addition for table data */
td {
  border: 1px solid rgb(100, 100, 100); 
  padding: 8px; 
}